NET "nNMI"     LOC = "p1"  ;
NET "nINT"     LOC = "p2"  ;
NET "nDSKRDY"  LOC = "p3"  ;
NET "nDSEN"    LOC = "p5"  ;
NET "DSA"      LOC = "p6"  ;
NET "DSB"      LOC = "p7"  ;
NET "nSIDE1"   LOC = "p8"  ;
NET "MOTCP"    LOC = "p12"  ;
NET "nDSKCHG"  LOC = "p13"  ;
NET "nINTRQ"   LOC = "p14"  ;
NET "DRQ"      LOC = "p16"  ;
NET "nDDEN"    LOC = "p18"  ;
NET "nWG"      LOC = "p19"  ;
NET "MOTFDC"   LOC = "p20"  ;
NET "CLK1"     LOC = "p21"  ;
NET "HLT"      LOC = "p22"  ;
NET "FDCCLK"   LOC = "p23"  ;
NET "nCE0"     LOC = "p27"  ;
NET "RW"       LOC = "p28"  ;
NET "D[7]"     LOC = "p29"  ;
NET "D[6]"     LOC = "p30"  ;
NET "D[5]"     LOC = "p31"  ;
NET "D[4]"     LOC = "p32"  ;
NET "D[3]"     LOC = "p33"  ;
NET "D[2]"     LOC = "p34"  ;
NET "D[1]"     LOC = "p36"  ;
NET "D[0]"     LOC = "p37"  ;
NET "E"        LOC = "p38"  ;
NET "A3"       LOC = "p39"  ;
NET "nRST"     LOC = "p40"  ;
NET "HLD"      LOC = "p41"  ;
NET "nDOE"     LOC = "p42"  ;
NET "CLK8M"    LOC = "p43"  ;
NET "SSO"      LOC = "p44"  ;

# ; NET "GND" LOC = "p4"  ;
# ; NET "TDI" LOC = "p9"  ;
# ; NET "TMS" LOC = "p10" ;
# ; NET "TCK" LOC = "p11" ;
# ; NET "VCC" LOC = "p15" ;
# ; NET "GND" LOC = "p17" ;
# ; NET "TDO" LOC = "p24" ;
# ; NET "GND" LOC = "p25" ;
# ; NET "VCC" LOC = "p26" ;
# ; NET "VCC" LOC = "p35" ;